@charset "utf-8";
/* CSS Document */

body,h1,h3,h2,h4,h5,h6,p,dl,dd,ul,li,ol,td,form,input,fieldset,legend{
	margin:0; padding:0;
}  
ul{
	-webkit-padding-start: 0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
li{list-style:none;}

a{text-decoration:none;}
img{
	display:block;
	border:none;
}

a,input{outline:none;}
input{border: none;box-sizing: border-box}

em,i{font-style:normal;}
/*下划线跟中划线*/
/* u,s{text-decoration: none} */
b,strong,h1,h2,h3,h4,h5,h6{font-weight:normal;}

.clear:after{content:""; display:block; clear:both; height:0; visibility:hidden;}

table{border-collapse:collapse;}

.border0{border:none;}

.fl{float:left;}

.fr{float:right;}

